[Unit]
Description=Run gz-rgb daemon
After=openrgb.service
Requires=openrgb.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/gz-rgb
Restart=on-failure

[Install]
WantedBy=default.target

